name: Auto-merge bot PRs
on:
  workflow_run:
    workflows: ["Test this action"]
    types: [completed]

jobs:
  check:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.actor.login == 'ruby-builder-bot' &&
      github.event.workflow_run.pull_requests[0].user.login == 'ruby-builder-bot' &&
      github.event.workflow_run.pull_requests[0].head.repo.full_name == 'ruby-builder-bot/setup-ruby'
    permissions:
      contents: read
    steps:
      - name: Checkout base branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93
        with:
          ruby-version: ruby

      - name: Fetch PR head commit
        run: |
          git fetch --no-tags origin \
            ${{ github.event.workflow_run.pull_requests[0].head.sha }}

      - name: Run automerge checks
        run: |
          ./automerge-check.rb \
            ${{ github.event.workflow_run.pull_requests[0].base.sha }} \
            ${{ github.event.workflow_run.pull_requests[0].head.sha }}

  merge:
    runs-on: ubuntu-latest
    needs: check
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Merge PR
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr merge "${{ github.event.workflow_run.pull_requests[0].number }}" \
            --repo "${{ github.repository }}" \
            --squash \
            --delete-branch
